@*@model e é diferente @Model pois o primeiro minusculo define o tipo que está sendo conectado, que é tipo inteiro e o @Model maiuscula para chamar*@
@model string

<span class="fa fa-shopping-cart fa-2x"> @Model</span>